* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  border-radius: 24.5px;
  padding: 0px 16px;
  min-width: 118px;
  line-height: 49px;
}
/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-weight: 600;
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  bottom: -6px;
  left: 21px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* main */
/* hero */
.hero {
  padding: 56px 0px 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .content-left {
  position: relative;
  width: 48%;
}
.hero .base {
  width: 270px;
  position: absolute;
  right: -100px;
  bottom: 48px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-left .course {
  display: flex;
  margin-left: 24px;
}
.hero .content-left .course:first-of-type {
  margin-top: 24px;
}
.hero .content-left .course + .course {
  margin-top: 14px;
}
.hero .content-left .content {
  margin-left: 16px;
}
.hero .content-left img {
  width: 470px;
  height: 685px;
  flex-shrink: 0;
}
.hero .course .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hero .content-left .icon1 {
  background-color: #fff9e8;
}
.hero .content-left .icon2 {
  background-color: #fcefff;
}
.hero .content-left .icon3 {
  background-color: #ebeaff;
}

.hero .content-left .icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.hero .content p:first-of-type {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.hero .content p:last-of-type {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.hero .content-right {
  width: 52%;
}
.hero .content-right h1 {
  width: 47rem;
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
  margin-top: 46px;
}
.hero .content-right p:nth-of-type(1) {
  width: 47rem;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-top: 28px;
  margin-bottom: 38px;
}
.hero .content-right .watching-video {
  display: flex;
  margin-bottom: 48px;
}
.hero .content-right .student-courses {
  display: flex;
}
.hero .content-right {
  margin-left: 230px;
}
.hero .content-right .see-course {
  border-radius: 32px;
  background: #ffb900;
  margin-right: 28px;
}
.hero .content-right a {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  padding: 17px 34px;
}
.hero .content-right .icon-watch {
  padding: 14px;
  background-color: #fff;
  border-radius: 50%;
}
.hero .content-right span {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}
.hero .content-right .watching-video .buttion {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fffcf4;
}
.hero .content-right .student-courses strong {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}
.hero .content-right .student-courses span {
  color: #5f5b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 8px;
}
.hero .content-right span:first-of-type {
  margin-left: 0;
}
.hero .content-right span:last-of-type {
  margin-left: 28px;
}

/* courses */
.courses {
  padding-top: 200px;
}
.courses .body {
  position: relative;
}
.courses .body .text {
  margin-bottom: 55px;
}
.courses .body .text h1 {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.courses .body .text .p {
  width: 45.8rem;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 16px;
}
.courses .card-body {
  display: flex;
}
.courses .card-body .card {
  margin-right: 30px;
}
.courses .card-body .card img {
  width: 370px;
  height: 278px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.courses .card-body .content {
  margin-top: 16px;
}
.courses .card-body .content-top {
  display: flex;
}
.courses .card-body .content-top {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.courses .card-body .content-top img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.courses .card-body .content-top span {
  margin-left: 119px;
}
.courses .body .content-center {
  width: 32.6rem;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.courses .body .content-bot {
  display: flex;
  align-items: center;
}
.courses .body .content-bot p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.courses .body .content-bot .btn-courses {
  margin-left: 141px;
}
.courses .control {
  width: 98px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  position: absolute;
  top: 42px;
  right: 0;
}
.courses .control .control-btn {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses .control .control-btn:first-of-type {
  border-radius: 50%;
  border: 1px solid #ffb900;
  background-color: #fff;
  margin-right: 18px;
}
.courses .control .control-btn:last-of-type {
  border-radius: 50%;
  background-color: #ffb900;
  border: 1px solid #ffb900;
}
.bg {
  background: #2e2100;
  height: 38rem;
  margin-top: 20rem;
}
.bg .body {
  display: flex;
}
.bg .introduce {
  margin: 9.6rem 27rem 9.6rem 0rem;
}
.bg .introduce .img {
  width: 7.2rem;
  height: 7.2rem;
  flex-shrink: 0;
  border-radius: 72px;
  background: url(<path-to-image>) lightgray -51.126px -33.052px / 228.267%
    342.4% no-repeat;
}
.bg .introduce .text {
  width: 160px;
  margin-top: 18px;
  margin-bottom: 28px;
}
.bg .introduce p:first-of-type {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.bg .introduce p:last-of-type {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.bg .ellipse {
  display: flex;
}
.bg .ellipse1 {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #634700;
}
.bg .ellipse2 {
  background: #ffb900;
  margin: 0 6px;
}
.bg .infor {
  position: relative;
}
.bg .infor p {
  width: 740px;
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
  margin-top: 12.4rem;
}
.bg .infor img {
  position: absolute;
  top: 96px;
  left: -30px;
}
